#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

body {
  margin: 0px;
}

.main-content {
	margin: 20px 25% 20px 25%;
}

h1, h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}

button {
	height: 30px;
	background-color: #0ece71;
	color: white;
	border: black 1px solid;
	border-radius: 5px;
	min-width: 50px;

	&.rmv {
		background-color: #f45c41;
	}

	&.save {
		background-color: #419df4;
	}
}
